<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-header-bar align-title="left" class="bar bar-light">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Home</button>
  </div>
  <h1 class="title">Title</h1>
  <div class="buttons">
    <button class="button">Friends</button>
  </div>
</ion-header-bar>

<ion-header-bar align-title="left" class="bar bar-subheader">
  <div class="button-bar">
  <a class="button">Friends' feed</a>
  <a class="button">Challenge</a>
  <a class="button">Mes défis</a>
</div>
</ion-header-bar>

<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Notif" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Défis semaine" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Classement" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
    <ion-tab title="Profil" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  


</ion-tabs>
